<header>
    <div class="content-wrapper">
            <p class="site-title">
                <a href="~/">Your one stop shop, for used guid reporting.<br/></a>
                
            </p>
    </div>
</header>
<div id="body">
    <div class="main-content">
    <div class="how-to-use">
        <h3>How to use</h3> <a href="http://bit.ly/TwitterGuids">https://gist.github.com/3964492</a>
        <br/>
        <h3>The 'feed'</h3> <a href="https://twitter.com/UsedGuid">https://twitter.com/UsedGuid</a>
    </div>
        <div class="centered">
            <img src="http://lh6.googleusercontent.com/-Z5VkwM4emSc/Tt_qtYONfmI/AAAAAAAAAG8/s768GFbJAPU/s954/guidbook.JPG"/>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content-wrapper">
        <div class="float-left">
            Created by <a href="https://twitter.com/NickJosevski">@@NickJosevski</a>
        </div>
    </div>
</footer>